* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.home,
.contact,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.particles {
  position: fixed;
  z-index: -1;
}

/*WORK PAGE*/
.work-top {
  background-image: url("../public/images/bg-copy.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.particles-work {
  position: fixed;
  z-index: -1;
}

.work-font {
  font-size: 20vw;
  position: sticky;
  text-align: center;
  top: 20%;
  background-image: url(https://i.pinimg.com/originals/e9/db/09/e9db09b6ff90a4b6cf6f5b01a118524f.gif);
  background-size: contain;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
}

.work-bottom {
  background-position: center;
  background-size: cover;
  width: auto;
  height: 50vh;
}

.resume {
  width: 90vw;
}
.resume-background {
  height: 100vw;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .resume {
    zoom: 140%;
  }
}

/*PROJECTS PAGE*/
.projects-top {
  background-image: url("../public/images/bg-copy.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.projects-font {
  font-size: 20vw;
  position: sticky;
  text-align: center;
  top: 20%;
  background-image: url(https://i.pinimg.com/originals/e9/db/09/e9db09b6ff90a4b6cf6f5b01a118524f.gif);
  background-size: contain;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
}

.projects-bottom {
  background-position: center;
  background-size: cover;
  width: auto;
  height: 50vh;
}
.projects {
  padding: 4rem;
  background: white;
}

.projects-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.projects-wrapper {
  position: relative;
  margin: 50px 0 45px;
}
.projects-item {
  color: transparent;
  margin-bottom: 20vw;
}
.projects-title {
  color: black;
  font-size: 3vw;
  position: absolute;
  margin-top: 0%;
  left: 2%;
}
.button-g {
  position: absolute;
  margin-top: 4%;
  left: 77%;
  width: 6vw;
  height: 4vw;
  border: 4px solid black;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 5px 10px black;
}
.button-a {
  position: absolute;
  margin-top: 4%;
  left: 85%;
  width: 4vw;
  height: 4vw;
  border: 4px solid black;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 5px 10px black;
}
.hide {
  color: transparent;
  background-color: transparent;
  width: 0;
}
.github-logo {
  position: absolute;
  margin-top: 4%;
  width: 5vw;
  left: 5%;
}
.app-logo {
  position: absolute;
  margin-top: 10%;
  left: 22%;
  width: 2.5vw;
}
.projects-description {
  color: black;
  font-size: 1.5vw;
  position: absolute;
  margin-top: 4%;
  left: 3%;
  width: 65%;
}

/*INTERESTS PAGE*/
.interests-top {
  background-image: url("../public/images/bg-copy.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.interests-font {
  font-size: 20vw;
  position: sticky;
  text-align: center;
  top: 20%;
  background-image: url(https://i.pinimg.com/originals/e9/db/09/e9db09b6ff90a4b6cf6f5b01a118524f.gif);
  background-size: contain;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
}

.interests-bottom {
  background-position: center;
  background-size: cover;
  width: auto;
  height: 50vh;
}

/*CONTACT PAGE*/
.contact-top {
  background-image: url("../public/images/bg-copy.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.contact-bottom {
  background-position: center;
  background-size: cover;
  width: auto;
  height: 50vh;
  display: flex;
  align-items: center;
}
.contact-font {
  font-size: 20vw;
  position: sticky;
  text-align: center;
  top: 20%;
  background-image: url(https://i.pinimg.com/originals/e9/db/09/e9db09b6ff90a4b6cf6f5b01a118524f.gif);
  background-size: contain;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
}
.list-item {
  color: black;
  font-size: 7vw;
}
.list {
  position: absolute;
  top: 120%;
  left: 0%;
  align-items: center;
  font-size: 0px;
}
.list2 {
  position: absolute;
  top: 0%;
  left: 130%;
  align-items: center;
  font-size: 4vw;
  width: 90%;
}
.list2 li::marker {
  content: "➫";
}

.list2-item {
  margin-top: 11%;
}

.contact-button:hover {
  box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
  transform: scale(1.2);
  border-radius: 100%;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
