* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.home,
.contact,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

/*WORK PAGE*/
.work-top {
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.work-font {
  color: white;
  font-size: 10vw;
  position: sticky;
  text-align: center;
  top: 20%;
}

.work-bottom {
  background-position: center;
  background-size: cover;
  width: auto;
  height: 50vh;
}

.resume {
  width: 90vw;
}
.resume-background {
  height: 100vw;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .resume {
    zoom: 140%;
  }
}

/*PROJECTS PAGE*/
.projects-top {
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.projects-font {
  color: white;
  font-size: 10vw;
  position: sticky;
  text-align: center;
  top: 20%;
}

.projects-bottom {
  background-position: center;
  background-size: cover;
  width: auto;
  height: 50vh;
}
.projects {
  padding: 4rem;
  background: white;
}

.projects-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.projects-wrapper {
  position: relative;
  margin: 50px 0 45px;
}
.projects-item {
  color: transparent;
  margin-bottom: 20vw;
}
.projects-title {
  color: black;
  font-size: 3vw;
  position: absolute;
  margin-top: 0%;
  left: 2%;
}
.button-g {
  position: absolute;
  margin-top: 4%;
  left: 77%;
  width: 6vw;
  height: 4vw;
  border: 4px solid black;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 5px 10px black;
}
.button-a {
  position: absolute;
  margin-top: 4%;
  left: 85%;
  width: 4vw;
  height: 4vw;
  border: 4px solid black;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 5px 10px black;
}
.hide {
  color: transparent;
  background-color: transparent;
  width: 0;
}
.github-logo {
  position: absolute;
  margin-top: 4%;
  width: 5vw;
  left: 5%;
}
.app-logo {
  position: absolute;
  margin-top: 10%;
  left: 22%;
  width: 2.5vw;
}
.projects-description {
  color: black;
  font-size: 1.5vw;
  position: absolute;
  margin-top: 4%;
  left: 3%;
  width: 65%;
}

/*INTERESTS PAGE*/
.interests-top {
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.interests-font {
  color: white;
  font-size: 10vw;
  position: sticky;
  text-align: center;
  top: 20%;
}

.interests-bottom {
  background-position: center;
  background-size: cover;
  width: auto;
  height: 50vh;
}

/*CONTACT PAGE*/
.contact-top {
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.contact-bottom {
  background-position: center;
  background-size: cover;
  width: auto;
  height: 50vh;
}
.contact-font {
  color: white;
  font-size: 10vw;
  position: sticky;
  text-align: center;
  top: 20%;
}
.contact-info {
  color: black;
  font-size: 7vw;
}
